.body {
  font-family: "Inter", sans-serif;
  background-color: #00203f;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* --------------------------------- layouts -------------------------------- */
.header {
  margin-bottom: 22px;
}
.header .container {
  padding: 1px;
  background: #086066;
  border: 1px solid #086066;
  border-radius: 40px;
  width: 1837px;
  height: 108px;
  margin-top: 9px;
  padding-bottom: 134px;
}

.logo {
  margin-left: 121px;
  margin-top: 41px;
}

.bar-name {
  margin-left: 178px;
  margin-top: -43px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.bar-title {
  display: flex;
  flex-direction: row;
  margin-left: 474px;
  margin-top: -42px;
  gap: 15px;
}

.bar-desk {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
}

.search-main {
  margin-left: 1526px;
  margin-top: -52px;
  padding: 11px;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 40px;
  width: 250px;
}

.search-desk {
  color: black;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.hero {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  height: 1080px;
}
.service-header {
  margin-top: 41px;
  margin-left: 534px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.service-main {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-left: 308px;
  gap: 35px;
}

.service-title {
  padding: 1px;
  background: #086066;
  border: 1px solid #086066;
  border-radius: 40px;
  width: 1088px;
  height: 291px;
  margin-top: 9px;
  margin-left: -193px;
}

.service-up {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-left: 432px;
  margin-top: 7px;
}

.service-desk-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin-top: 48px;
  margin-left: 245px;
  margin-right: 91px;
}

.service-desk-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin-top: 48px;
  margin-left: 100px;
  margin-right: 241px;
}

.service-logo-1 {
  display: flex;
  margin-top: 23px;
  position: absolute;
  margin-left: 80px;
}

.service-logo-2 {
  display: flex;
  margin-top: 23px;
  position: absolute;
  margin-left: 844px;
}

.footer {
  background-color: black;
  max-width: 100%;
}
.company-main {
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  margin-left: 318px;
  gap: 72px;
}

.company {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.company-desk {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.soc {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
  margin-left: 415px;
  gap: 70px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 9px;
}

.close {
  margin-top: 84px;
  margin-left: 482px;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

/* -------------------------------------------------------------------------- *//*# sourceMappingURL=main.css.map */