.body {
  font-family: "Inter", sans-serif;
  background-color: #00203f;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* --------------------------------- layouts -------------------------------- */
.header {
  padding-bottom: 22px;
}
.header .container {
  background: #086066;
  border: 1px solid #086066;
  border-radius: 40px;
  height: 108px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.logo {
  margin-left: 5px;
  display: flex;
  margin-right: 18px;
  max-width: 150px;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 38px;
    margin-right: 140px;
  }
}

.bar-name {
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
}
@media screen and (min-width: 1200px) {
  .bar-name {
    font-size: 40px;
  }
}

.bar-title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .bar-title {
    display: flex;
    gap: 15px;
  }
}

.bar-desk {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
}

.header-btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-btn {
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    margin-left: auto;
    max-width: 300px;
    color: black;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ---------------------------------- menu ---------------------------------- */
.open-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .open-btn {
    display: none;
  }
}

.open-icon {
  fill: black;
}

.header-menu {
  position: fixed;
  z-index: 1000000000;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  .header-menu {
    display: none;
  }
}

.menu-container {
  position: relative;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 20px;
}

.menu-close {
  transition: fill 300ms linear;
}
.menu-close:focus, .menu-close:hover {
  fill: red;
}
@media screen and (min-width: 768px) {
  .menu-close {
    width: 60px;
    height: 60px;
  }
}

.bar-title-mob {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  padding-top: 140px;
  padding-right: 40%;
}
@media screen and (min-width: 768px) {
  .bar-title-mob {
    padding-top: 200px;
    gap: 100px;
  }
}

.bar-desk-mob {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  position: relative;
}
.bar-desk-mob::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #086066;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  margin-left: 20px;
}
.bar-desk-mob:hover, .bar-desk-mob:focus {
  color: #086066;
}
@media screen and (min-width: 768px) {
  .bar-desk-mob {
    font-size: 82px;
  }
  .bar-desk-mob::after {
    width: 30px;
    height: 30px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  height: 1080px;
  max-width: 100%;
}
.services {
  background: #00203f;
  color: #fff;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  max-width: 100%;
}

.service-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .service-holder {
    flex-direction: row;
    align-items: stretch;
  }
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .service-container {
    align-items: stretch;
    flex-direction: row-reverse;
  }
}

.service-header {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.service-main {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  gap: 35px;
}

.service-title {
  padding: 1px;
  background: #086066;
  border: 1px solid #086066;
  border-radius: 40px;
  max-width: calc(100% - 10px);
  margin-top: 9px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .service-title {
    align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .service-title {
    max-width: 1088px;
    padding: 15px 60px;
  }
}

.service-up {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.service-desk {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin: 0 auto;
  padding: 25px;
}
@media screen and (min-width: 1200px) {
  .service-desk {
    padding: 0;
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .service-desk-1 {
    margin-left: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .service-desk-2 {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .service-logo {
    margin: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .service-logo {
    margin: 0;
  }
}

.footer {
  color: aliceblue;
  background-color: black;
}
.footer .container {
  padding-top: 28px;
}

.company-main {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .company-main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .company-main {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.company-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .company-title {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .company-title {
    width: calc((100% - 60px) / 2);
  }
}

.company {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 15px;
  display: block;
  color: antiquewhite;
}
@media screen and (min-width: 768px) {
  .company {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .company {
    font-size: 40px;
  }
}

.company-desk {
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 10px;
}
.company-desk:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .company-desk {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .company-desk {
    font-size: 30px;
  }
}

.soc {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 12px;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .soc {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .soc {
    gap: 70px;
    flex-wrap: nowrap;
    font-size: 30px;
  }
}

.close {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .close {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .close {
    font-size: 40px;
  }
}

.soc-item {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- *//*# sourceMappingURL=main.css.map */