.body {width: 1440px;
height: 1683px;
top: -456px;
left: -665px;}
.sec-1 {
}

.bar-title {display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}


.bar-desk {
}


.search-main {
}


.search-desk {
}