<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@400;600;700&family=Montserrat:wght@400;600;700&family=Oranienbaum&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="./css/main.min.css" />

    <script src="./index.js"></script>
  </head>
  <body no-scroll>
    <!-- ------------------------------- header -------------------------------- -->
    <header class="header">
      <div class="container">
        <svg class="header-logo" width="48" height="55">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <div class="header-wrap">
          <nav class="header-nav">
            <ul class="header-list list">
              <li class="header-item">
                <a href="#1" class="header-link link">Services</a>
              </li>
              <li class="header-item">
                <a href="#2" class="header-link link">Portfolio</a>
              </li>
              <li class="header-item">
                <a href="#3" class="header-link link">Reviews</a>
              </li>
              <li class="header-item">
                <a href="#4" class="header-link link">Stock</a>
              </li>
              <li class="header-item">
                <a href="#5" class="header-link link">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="enroll-info-header">
            <a href="tel:+380961111111" class="header-link link another">
              +38 096 111 11 11</a
            >
            <a
              href="tel:+380961111111"
              class="header-btn btn header-call-btn link"
              >Call</a
            >
            <button type="button" class="header-btn btn">Sign up</button>
          </div>
        </div>
        <button type="button" class="menu-open-btn" data-menu-open>
          <svg class="open-menu-icon" width="50" height="50">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
      <!-- menu -->
      <div class="header__menu__mobile is-hidden" data-menu>
        <div class="js-menu-container">
          <button type="button" class="menu__close" data-menu-close>
            <svg class="menu__close__icon" width="30" height="30">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </button>
          <nav class="header-menu-nav">
            <ul class="header-menu-list list">
              <li class="header-item">
                <a href="#1" class="header-menu-link-nav link">Services</a>
              </li>
              <li class="header-item">
                <a href="#2" class="header-menu-link-nav link">Portfolio</a>
              </li>
              <li class="header-item">
                <a href="#3" class="header-menu-link-nav link">Reviews</a>
              </li>
              <li class="header-item">
                <a href="#4" class="header-menu-link-nav link">Stock</a>
              </li>
              <li class="header-item">
                <a href="#5" class="header-menu-link-nav link">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="menu__enroll__container">
            <a href="tel:+380961111111" class="header-menu-link link tel">
              +38 096 111 11 11</a
            >
            <a href="tel:+380961111111" class="header-call-btn-mob link"
              >Call</a
            >
            <button type="button" class="header-btn-mob btn">Sign up</button>
          </div>
        </div>
      </div>
    </header>
    <!-- ----------------------------------------------------------------------- -->
    <main>
      <!-- -------------------------------- HERO --------------------------------- -->
      <section class="hero">
        <div class="container">
          <svg class="hero-star-1" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <svg class="hero-star-2" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <div class="hero-wrap">
            <h1 class="hero-title">50% discount on women's haircuts!</h1>
            <p class="hero-desk">Price includes haircut, wash and styling</p>
            <button type="button" class="hero-btn btn">More</button>
          </div>
          <img
            class="hero-img"
            srcset="./img/hero-img.png 1x, ./img/hero-img-2x.png 2x"
            src="./img/hero-img.png"
            alt="hero-img"
            width="538"
            height="538"
          />
        </div>
      </section>
      <section class="summary">
        <div class="container">
          <ul class="summary-list list">
            <li class="summary-item">
              <div class="summary-wrap">
                <p class="summary-number">90%</p>
                <p class="summary-desk">Customers enjoy our services again</p>
              </div>
            </li>
            <li class="summary-item">
              <div class="summary-wrap">
                <p class="summary-number">1000</p>
                <p class="summary-desk">positive feedback</p>
              </div>
            </li>
            <li class="summary-item">
              <div class="summary-wrap">
                <p class="summary-number">10 000</p>
                <p class="summary-desk">Satisfied customers</p>
              </div>
            </li>
            <li class="summary-item">
              <div class="summary-wrap reset">
                <p class="summary-number">30</p>
                <p class="summary-desk">Customers served daily</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- ----------------------------------------------------------------------- -->
      <!-- ------------------------------ services ------------------------------- -->
      <section id="1" class="services">
        <div class="container">
          <h2 class="services-title">Services</h2>
          <p class="services-desk">
            We only work with hair, but we do it amazingly well
          </p>
          <div class="carousel owl-carousel owl-theme">
            <div class="item" style="width: 224px">
              <img
                src="./img/img-1.jpg"
                alt="haircut"
                width="224"
                height="336"
              />
            </div>
            <div class="item" style="width: 224px">
              <img
                src="./img/img-2.jpg"
                alt="painting"
                width="224"
                height="336"
              />
            </div>
            <div class="item" style="width: 224px">
              <img
                src="./img/img-3.jpg"
                alt="styling"
                width="224"
                height="336"
              />
            </div>
            <div class="item" style="width: 224px">
              <img
                src="./img/img-4.jpg"
                alt="extension"
                width="224"
                height="336"
              />
            </div>
            <div class="item" style="width: 224px">
              <img
                src="./img/img-5.jpg"
                alt="extension-2"
                width="224"
                height="336"
              />
            </div>
          </div>

          <!-- price -->
          <div class="price-wrap">
            <h3 class="price-headline">Price</h3>
            <div class="price-block">
              <p class="price-type-service">Haircut</p>
              <div class="type-price-wrap">
                <p class="type">Female model</p>
                <p class="price">700-1000 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">"Hot scissors"</p>
                <p class="price">450-700 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">Olaplex hair restoration</p>
                <p class="price">from 1900 UAH</p>
              </div>
            </div>
            <div class="price-block">
              <p class="price-type-service">Modeling</p>
              <div class="type-price-wrap">
                <p class="type">Evening / Wedding hairstyle</p>
                <p class="price">1000-1500 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">Hollywood curls</p>
                <p class="price">450-700 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">The trick is classic</p>
                <p class="price">700-1000 UAH</p>
              </div>
            </div>
            <div class="price-block">
              <p class="price-type-service">Hair dyeing</p>
              <div class="type-price-wrap">
                <p class="type">Bio-perm "Mossa"</p>
                <p class="price">2000-2500 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">Highlighting (balayage, ombre)</p>
                <p class="price">1500-1700 UAH</p>
              </div>
              <div class="type-price-wrap">
                <p class="type">Creative coloring</p>
                <p class="price">1700-2000 UAH</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- -------------------------------- team --------------------------------- -->
      <section class="team">
        <div class="container">
          <svg class="team-star-1" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <svg class="team-star-2" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <h2 class="team-title">Our masters</h2>
          <p class="team-desk">
            Hairdressers-colorists with 10+ years of experience
          </p>
          <!-- ------------------------------- mob-car ------------------------------- -->
          <div class="carousel-mob owl-carousel owl-theme">
            <div class="item" style="width: 360px">
              <a href="#link" class="team-mob-link link">
                <img
                  srcset="./img/ksenia.jpg 1x, ./img/ksenia.jpg 2x"
                  src="./img/ksenia.jpg"
                  alt="ksenia"
                  width="417"
                  height="370"
                />
              </a>
              <div class="team-mob-about">
                <h3 class="team-name">Ksenia Boltushkina</h3>
                <p class="about-her">hairdressing technologist</p>
              </div>
            </div>
            <div class="item" style="width: 360px">
              <a href="#link" class="team-mob-link link">
                <img
                  srcset="./img/natasha.jpg 1x, ./img/natasha-2x.jpg 2x"
                  src="./img/natasha.jpg"
                  width="417"
                  height="370"
                />
              </a>
              <div class="team-mob-about">
                <h3 class="team-name">Natasha Uglova</h3>
                <p class="about-her">hairdressing technologist</p>
              </div>
            </div>
            <div class="item" style="width: 360px">
              <a href="#link" class="team-mob-link link">
                <img
                  ssrcset="./img/violeta.jpg 1x, ./img/violeta-2x.jpg 2x"
                  src="./img/violeta.jpg"
                  width="417"
                  height="370"
                />
              </a>
              <div class="team-mob-about">
                <h3 class="team-name">Violetta Shurygina</h3>
                <p class="about-her">hairdressing technologist</p>
              </div>
            </div>
          </div>
          <!-- ----------------------------------------------------------------------- -->
          <div class="carousel-2 owl-carousel owl-theme">
            <a href="#link" class="team-link link">
              <div class="owl-pic">
                <img
                  srcset="./img/ksenia.jpg 1x, ./img/ksenia.jpg 2x"
                  src="./img/ksenia.jpg"
                  alt="ksenia"
                  width="417"
                  height="370"
                />
              </div>
              <div class="team-about">
                <h3 class="team-name">Ksenia Boltushkina</h3>
                <p class="about-her">hairdressing technologist</p>
                <button type="btn" class="team-btn btn">Sign up</button>
              </div>
            </a>
            <a href="#link" class="team-link link">
              <div class="owl-pic">
                <img
                  srcset="./img/natasha.jpg 1x, ./img/natasha-2x.jpg 2x"
                  src="./img/natasha.jpg"
                  alt="natasha"
                  width="417"
                  height="370"
                />
              </div>
              <div class="team-about">
                <h3 class="team-name">Natasha Uglova</h3>
                <p class="about-her">hairdressing technologist</p>
                <button type="btn" class="team-btn btn">Sign up</button>
              </div>
            </a>
            <a href="#link" class="team-link link">
              <div class="owl-pic">
                <img
                  srcset="./img/violeta.jpg 1x, ./img/violeta-2x.jpg 2x"
                  src="./img/violeta.jpg"
                  alt="violeta"
                  width="417"
                  height="370"
                />
              </div>
              <div class="team-about">
                <h3 class="team-name">Violetta Shurygina</h3>
                <p class="about-her">hairdressing technologist</p>
                <button type="btn" class="team-btn btn">Sign up</button>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- ----------------------------------------------------------------------- -->
      <!-- ------------------------------- reviews ------------------------------- -->
      <section id="3" class="reviews">
        <div class="container">
          <h2 class="reviews-title">What they say about our work</h2>
          <svg class="reviews-star-1" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <svg class="reviews-star-2" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <div class="carousel owl-carousel owl-theme">
            <div class="item" style="width: 345px">
              <div class="review-wrap">
                <img
                  style="width: 137px"
                  src="./img/userpic-1.jpg"
                  alt="reviews-userpic"
                  width="137"
                  height="137"
                />
                <div class="reviews-about">
                  <p class="service-type another-type">Coloring</p>
                  <p class="name-reviews">Khenia S.</p>
                  <p class="review-text">
                    Girls are so smart, I love you so much!
                  </p>
                </div>
              </div>
            </div>
            <div class="item" style="width: 345px">
              <div class="review-wrap">
                <img
                  style="width: 137px"
                  src="./img/userpic-5.jpg"
                  alt="reviews-userpic"
                  width="137"
                  height="137"
                />
                <div class="reviews-about">
                  <p class="service-type another-type">Coloring</p>
                  <p class="name-reviews">Anna C.</p>
                  <p class="review-text">So cool!!!</p>
                </div>
              </div>
            </div>
            <div class="item" style="width: 345px">
              <div class="review-wrap">
                <img
                  style="width: 137px"
                  src="./img/userpic-2.jpg"
                  alt="reviews-userpic"
                  width="137"
                  height="137"
                />
                <div class="reviews-about">
                  <p class="service-type another-type">Coloring</p>
                  <p class="name-reviews">Khenia D.</p>
                  <p class="review-text">I became like a fairy.</p>
                </div>
              </div>
            </div>
            <div class="item" style="width: 345px">
              <div class="review-wrap">
                <img
                  style="width: 137px"
                  src="./img/userpic-3.jpg"
                  alt="reviews-userpic"
                  width="137"
                  height="137"
                />
                <div class="reviews-about">
                  <p class="service-type">Extension</p>
                  <p class="name-reviews">Maria M.</p>
                  <p class="review-text">
                    For the first time I was so pleased with the service)
                  </p>
                </div>
              </div>
            </div>
            <div class="item" style="width: 345px">
              <div class="review-wrap">
                <img
                  style="width: 137px"
                  src="./img/userpic-4.jpg"
                  alt="reviews-userpic"
                  width="137"
                  height="137"
                />
                <div class="reviews-about">
                  <p class="service-type">Extension</p>
                  <p class="name-reviews">Maria B.</p>
                  <p class="review-text">My hair is now shiny!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ----------------------------------------------------------------------- -->
      <!-- --------------------------- mini-portfolio ---------------------------- -->
      <section id="2" class="mini-portfolio">
        <div class="container">
          <h2 class="mini-portfolio-title">
            Beautiful images available to everyone
          </h2>
          <div class="carousel owl-carousel owl-theme">
            <div class="item" style="width: 370px">
              <div class="mini-wrap">
                <img
                  src="./img/mini-portfolio-1.jpg"
                  alt="portfolio"
                  height="218"
                />
                <img
                  src="./img/mini-portfolio-2.jpg"
                  alt="portfolio"
                  height="218"
                />
              </div>
            </div>
            <div class="item" style="width: 392px">
              <img
                src="./img/mini-portfolio-5.jpg"
                alt="portfolio"
                height="446"
              />
            </div>
            <div class="item" style="width: 370px">
              <div class="mini-wrap">
                <img
                  src="./img/mini-portfolio-3.jpg"
                  alt="portfolio"
                  height="218"
                />
                <img
                  src="./img/mini-portfolio-4.jpg"
                  alt="portfolio"
                  height="218"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ----------------------------------------------------------------------- -->
      <!-- ---------------------------- consultation ----------------------------- -->
      <section class="consultation">
        <div class="container">
          <svg class="consultation-star" width="178" height="178">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop
                  offset="0%"
                  style="stop-color: #ffe3e3; stop-opacity: 1"
                />
                <stop
                  offset="100%"
                  style="stop-color: rgba(255, 255, 255); stop-opacity: 0"
                />
              </linearGradient>
            </defs>
            <use href="./img/icons.svg#icon-star" fill="url(#grad1)"></use>
          </svg>
          <img
            src="./img/consultation-img.jpg"
            alt="consultation"
            width="500"
            height="500"
          />
          <div class="consultation-wrap">
            <h2 class="consultation-title">Free consultation</h2>
            <form id="consultation-form" class="consultation-form">
              <label for="user-name" class="consultation-label"
                >Fill out the form and we will call you back in a minute!</label
              >
              <div class="communication-form">
                <input
                  type="text"
                  class="communication-input"
                  placeholder="Name"
                  name="user-name"
                  id="user-name"
                /><input
                  type="tel"
                  class="communication-input"
                  placeholder="+380 111 111 111"
                  name="user-tel"
                  id="user-tel"
                />
                <textarea
                  class="form-input-question"
                  name="user-question"
                  id="user-question"
                  placeholder="Your question"
                ></textarea>
                <button type="submit" class="consultation-btn btn">
                  Enroll
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- ----------------------------------------------------------------------- -->
    </main>
    <footer id="5" class="footer">
      <div class="container">
        <div class="meta-wrap">
          <h2 class="footer-title">Our contacts</h2>
          <address class="meta">
            <p class="meta-desk">c. Kyiv</p>
            <p class="meta-inf">Lesya Ukrainka avenue, 26</p>
            <ul class="meta-list list">
              <li class="meta-item">
                <p class="meta-desk">Mail</p>
                <a href="mailto:info@example.com" class="meta-contact link"
                  >info@example.com</a
                >
              </li>
              <li class="meta-item">
                <p class="meta-desk">Number</p>
                <a href="tel:+380991111111" class="meta-contact link"
                  >+38 099 111 11 11</a
                >
              </li>
            </ul>
            <p class="meta-desk">Working mode</p>
            <p class="meta-inf">Mon-Sun from 9:00 to 23:00</p>
          </address>
          <ul class="meta-soc list">
            <li class="meta-item-soc">
              <a href="" class="meta-soc-link link">
                <svg class="meta-soc-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="meta-item-soc">
              <a href="" class="meta-soc-link link">
                <svg class="meta-soc-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="meta-item-soc">
              <a href="" class="meta-soc-link link">
                <svg class="meta-soc-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="meta-item-soc">
              <a href="" class="meta-soc-link link">
                <svg class="meta-soc-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="map-container">
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.3254198093696!2d36.28049842236776!3d50.04273496836512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a71d9fca861d%3A0xa501bb6d97670b53!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INCw0LXRgNC-0LrQvtGB0LzRltGH0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIg0ZbQvC4g0JwuINCELiDQltGD0LrQvtCy0YHRjNC60L7Qs9C-ICLQpdCw0YDQutGW0LLRgdGM0LrQuNC5INCw0LLRltCw0YbRltC50L3QuNC5INGW0L3RgdGC0LjRgtGD0YIi!5e0!3m2!1suk!2scz!4v1669065848714!5m2!1suk!2scz"
            width="600"
            height="518"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </footer>
    <script src="./js/jquery-3.6.1.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/menu-mob.js"></script>
  </body>
</html>